<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheets.css') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ahmed Aziz Smaoui</title>

    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <script defer>
      setTimeout(() => {
        $(".loadingScreen").removeClass("active");
      }, 2000);
      // setTimeout(() => {
      //   $(".english").removeClass("active");
      //   $(".italien").css("display", "block");
      // }, 2000);
      // setTimeout(() => {
      //   $(".italien").addClass("active");
      // }, 2500);
      // setTimeout(() => {
      //   $(".italien").removeClass("active");
      //   $(".francais").css("display", "block");
      //   $(".italien").css("display", "none");
      // }, 4500);
      // setTimeout(() => {
      //   $(".francais").addClass("active");
      // }, 5000);
      // setTimeout(() => {
      //   $(".francais").removeClass("active");
      //   $(".francais").css("display", "none");
      // }, 7000);
    </script>
  </head>
  <body>
    <!--    <div class="loadingScreen active">
       <div class="english active">Hello</div>
      <div class="italien">Ciao</div>
      <div class="francais">Salut</div> 
    </div> 
    -->

    <div>
      <div class="hero">
        <nav class="header">
          <div class="credits">
            <a href="#">
              <span class="credit">&copy;</span>
              <div class="code-by-container">
                <span class="code-by">Code by Ahmed Aziz Smaoui</span>
              </div>
            </a>
          </div>

          <ul class="main-nav">
          <!--   <li class="button-link"><a href="#">Work</a></li> -->
            <li class="button-link"><a href="#">About</a></li>
            <li class="button-link"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
      <section class="home">
        <div class="container-home-intro">
          <div class="inner-container">
            <h2 class="intro-words">
              <span class="span-line"><span class="span-line-inner">I</span></span>
              <span class="span-line"><span class="span-line-inner">am</span></span>
              <span class="span-line"><span class="span-line-inner">a</span></span>
              <span class="span-line"><span class="span-line-inner">fresh</span></span>
              <span class="span-line"><span class="span-line-inner">graduate</span></span>
              <span class="span-line"><span class="span-line-inner">software</span></span>
              <span class="span-line"><span class="span-line-inner">engineer</span></span>
              <span class="span-line"><span class="span-line-inner">who</span></span>
              <span class="span-line"><span class="span-line-inner">is</span></span>
              <span class="span-line"><span class="span-line-inner">deeply</span></span>
              <span class="span-line"><span class="span-line-inner">passionate</span></span>
              <span class="span-line"><span class="span-line-inner">about</span></span>
              <span class="span-line"><span class="span-line-inner">technology.</span></span>
              <span class="span-line"><span class="span-line-inner">I</span></span>
              <span class="span-line"><span class="span-line-inner">am</span></span>
              <span class="span-line"><span class="span-line-inner">eager</span></span>
              <span class="span-line"><span class="span-line-inner">to</span></span>
              <span class="span-line"><span class="span-line-inner">apply</span></span>
              <span class="span-line"><span class="span-line-inner">my</span></span>
              <span class="span-line"><span class="span-line-inner">skills</span></span>
              <span class="span-line"><span class="span-line-inner">and</span></span>
              <span class="span-line"><span class="span-line-inner">learn</span></span>
              <span class="span-line"><span class="span-line-inner">more</span></span>
              <span class="span-line"><span class="span-line-inner">in</span></span>
              <span class="span-line"><span class="span-line-inner">the</span></span>
              <span class="span-line"><span class="span-line-inner">ever-evolving </span></span>
              <span class="span-line"><span class="span-line-inner">field</span></span>
              <span class="span-line"><span class="span-line-inner">of</span></span>
              <span class="span-line"><span class="span-line-inner">software</span></span>
              <span class="span-line"><span class="span-line-inner">engineering.</span></span>
            </h2>
            
          </div>
          <div class="circle-about-me-container">
            <a href="#" class="btn-click">
            <div class="circle-about-me">
              <span class="span-about"> About me </span>
              <div class="btn-fill"></div>
            </div>
            </a>
          </div> 
        </div>
        <div class="resume">
          <div class="sub-title">
            <h5>Training and diplomas</h5>
          </div>
          <div class="stripe"></div>

          <div class="row-diploma">   
            <span class="span-diploma"> 
              <a href="https://esprit.tn/" class="a-diploma">
                <span>Engineer's degree - Private Higher School of Engineering and Technology (ESPRIT)</span> 
                <span class="diploma-date">2019/2022</span>
              </a>
            </span>
          </div>
          <div class="row-diploma">
            <span class="span-diploma"> 
              <a href="http://www.isetr.rnu.tn/" class="a-diploma">
                Bachelor's degree - Higher Institute of Technological Studies of Rades (ISET RADES) <span class="diploma-date">2016/2019</span>
              </a>
            </span>
          </div>
          <div class="row-diploma">
            <span class="span-diploma"> 
              
                Tunisian Baccalaureate degree - Beb El Khadra High School <span class="diploma-date">2015/2016</span>
              
            </span>
          </div>

          <div class="sub-title">
            <h5>Professional experience</h5>
          </div>
          <div class="stripe"></div>

          <div class="row-diploma">   
            <span class="span-diploma"> 
                Internship at Tunisia Telecom  <span class="diploma-date">09-01-2017 | 04-02-2017</span>
            </span>
          </div>

          <div class="row-diploma">   
            <span class="span-diploma"> 
                Internship at FabLab Solidaire - Young Science of Tunisia  <span class="diploma-date">09-01-2018 - 03/02/2018</span>
            </span>
          </div>

          
          <div class="row-diploma">   
            <span class="span-diploma"> 
                Internship at Higher Institute of Technological Studies of Rades (ISET RADES)  <span class="diploma-date">01/03/2019 - 25/05/2019</span>
            </span>
          </div>

          <div class="row-diploma">   
            <span class="span-diploma"> 
              <a href="https://biforyou.com/" class="a-diploma">
                Internship at BI4YOU  <span class="diploma-date">01/07/2021 - 31/08/2021</span>
              </a>
            </span>
          </div>

          <div class="row-diploma">   
            <span class="span-diploma"> 
              <a href="https://gomycode.com/" class="a-diploma">
                Game Lead Instructor at GoMyCode - Tunisia <span class="diploma-date">01/06/2018 - 07/08/2021</span>
              </a>
            </span>
          </div>

          <div class="row-diploma">   
            <span class="span-diploma"> 
            
                Internship at The maze group startUp - Tunisia <span class="diploma-date">25/01/2022 - 25/07/2022</span>
              
            </span>
          </div>

          <div class="sub-title">
            <h5>Skills</h5>
          </div>
          <div class="stripe"></div>

          <div class="row-diploma">
            <span class="span-diploma">

              <div class="python"></div>
              <div class="java"></div>
              <div class="c-sharp"></div>
              <div class="c"></div>
              <div class="html"></div>
              <div class="css"></div>
              <div class="sql"></div>
              <div class="unity"></div>
              <div class="js"></div>
              <div class="php"></div>

            </span>
          </div>


        </div>

      </section>
      <span class="title">Software Engineer</span>
      <div class="planet">
        <span>Located in Tunisia</span>
      </div>
    </div>
  </body>
  <footer class="footer">
  <div class="footer-div">
    <div class="footer-words">
      <span class="span-pic">
        <div class="profile-picture"></div>
        Hey let's</span>
      <span>chit-chat</span>
    </div>
    <div class="stripe-chat"></div>
  </div>
    <div class="row">
      <div class="phone">+216 28 813 063</div>
      <div class="email">ahmed.aziz.smaoui@gmail.com</div>
    </div>


  <div class="footer-copyright">
    © copyright 2023 </div>
  </footer>
  <script defer>
    const box = document.querySelector(".intro-words");
    console.log(box);
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        console.log(entry);
        if (entry.isIntersecting) {
          console.log(entry);
          entry.target.classList.add("slide-up");
        } else {
          entry.target.classList.remove("slide-up");
        }
      });
    });
    observer.observe(box);
  </script>
</html>
